[Unit]
Description=Dash Buttons Service

[Service]
Type=simple
## Modify next line to reflect dash.pl's path
ExecStart=/root/dash.pl
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=dash.service
